html
	head
		title Iot Bit and Brush
	header
	body
		ul
			// Array contains 16 numbers that represents teeth
			each val in [2, 3, 2, 2, 2, 2, 3, 2, 2, 2,2, 2, 4, 4, 4, 3]
				li= val
		ul
			each val in [2, 3, 2, 2, 2, 2, 3, 2, 2, 2,2, 2, 4, 4, 4, 3]
				li= val
	footer
